@font-face {
	font-family: spline;
	src: url('./lib/assets/fonts/spline-sans-mono-latin-400-normal.woff2');
	font-weight: 400;
}
@font-face {
	font-family: spline;
	src: url('./lib/assets/fonts/spline-sans-mono-latin-600-normal.woff2');
	font-weight: 600;
}
@font-face {
	font-family: spline;
	src: url('./lib/assets/fonts/spline-sans-mono-latin-700-normal.woff2');
	font-weight: 700;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

:root {
	--huge: clamp(3.8rem, calc(3.8rem + ((1vw - 0.48rem) * 1.3889)), 4.8rem);
	--h1: clamp(2.8rem, calc(2.8rem + ((1vw - 0.48rem) * 1.3889)), 3.8rem);
	--h2: clamp(2rem, calc(2rem + ((1vw - 0.48rem) * 1.3889)), 3rem);
	--h3: clamp(1.5rem, calc(1.5rem + ((1vw - 0.48rem) * 0.5208)), 1.875rem);
	--h4: clamp(1.125rem, calc(1.125rem + ((1vw - 0.48rem) * 0.3472)), 1.375rem);
	--body: clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 0.1736)), 1.125rem);
	--small: clamp(0.875rem, calc(0.875rem + ((1vw - 0.48rem) * 0.1736)), 1rem);

	/* markdown header sizes */
	--mh1: clamp(1.8rem, calc(1.8rem + ((1vw - 0.48rem) * 0.9722)), 2.1rem);
	--mh2: clamp(1.5rem, calc(1.5rem + ((1vw - 0.48rem) * 0.9722)), 1.8rem);
	--mh3: clamp(1.2rem, calc(1.2rem + ((1vw - 0.48rem) * 0.9722)), 1.5rem);
	--mh4: clamp(1.125rem, calc(1.15rem + ((1vw - 0.48rem) * 0.3472)), 1.2rem);
	/* this is the corresponding line heights for each header */
	--lh1: 1.3;
	--lh2: 1.35;
	--lh3: 1.4;
	--lh4: 1.5;
	--lhbody: 1.6;

	--font: spline, monospace;
	--defaultFont: Arial, Helvetica, sans-serif;

	--primary: #111111;
	--home: #111111;
	--red: #c90f0f;
	--about: #cc3300;
	--writings: #ef7190;
	--projects: #337ab7;
	--contact: #05d69e;
	--black: #111111;
	--white: #ffffff;
	--muted: #5f5f5f;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font);
	font-weight: bold;
}

h1 {
	font-size: var(--h1);
	line-height: var(--lh1);
}
h2 {
	font-size: var(--h2);
	line-height: var(--lh2);
}
h3 {
	font-size: var(--h3);
	line-height: var(--lh3);
}
h4 {
	font-size: var(--h4);
	line-height: var(--lh4);
}

p,
span,
code,
a,
li,
td,
th {
	font-family: var(--font);
	font-size: var(--body);
	line-height: var(--lhbody);
	font-weight: 400;
	word-break: break-word;
	white-space: pre-wrap;
}

* ::-webkit-scrollbar {
	width: 0.5rem;
}
* ::-webkit-scrollbar-track {
	border-radius: 0;
	background: color-mix(in srgb, var(--black) 40%, transparent 60%);
}

* ::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: var(--primary);
}
